@implements IDisposable

@inject NavigationManager NavigationManager

<header class="header">
    <div class="nav-container">
        <div class="logo">HL</div>

        <ul class="nav-menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="vehiculos">Vehículos</a></li>
            <li><a href="reservaciones">Reservaciones</a></li>
            <AuthorizeView>
            <Authorized>
            <li><a href="perfil">Perfil</a></li>
                    <li>
                        <form action="Account/Logout" method="post" style="display:inline;">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link logout-button">Cerrar sesión</button>
                        </form>
                    </li>
            </Authorized>
            <NotAuthorized>
            <li><a href="Account/Login">Iniciar sesion</a></li>
            </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</header>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

