@page "/vehiculos"

@inject NavigationManager Nav
@rendermode InteractiveServer


<main class="main-content">
    <h1 class="page-title">VEHÍCULOS</h1>

    <div class="vehicle-grid">
        <div class="vehicle-card">
            <div class="vehicle-image pickup-bg"></div>
            <div class="vehicle-info">
                <h2 class="vehicle-category">PICKUP</h2>
                <button class="select-btn"
                        @onclick='() => Nav.NavigateTo("vehiculos/pickup")'>
                    Seleccionar SUV
                </button>
            </div>
        </div>

        <div class="vehicle-card">
            <div class="vehicle-image suv-bg"></div>
            <div class="vehicle-info">
                <h2 class="vehicle-category">SUV</h2>
                <button class="select-btn"
                        @onclick='() => Nav.NavigateTo("vehiculos/suv")'>
                    Seleccionar SUV
                </button>
            </div>
        </div>
    </div>
</main>



@code {

}
